{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
LOCALIZATION SELECTOR COMPONENT
----------------------------------------------------------------------------------------------------------------------

This component renders a selector for a localization component (either currency or locale).

********************************************
Supported variables
********************************************

* type: can be either "currency" or "locale" (required)
* id_prefix: an option to help dissociate the ID in case this is included several times in the same section
{%- endcomment -%}

{%- capture localization_form_id -%}localization-form-{{ id_prefix }}-{{ section.id }}-{{ type }}{%- endcapture -%}
{%- capture localization_popover_id -%}popover-localization-{{ id_prefix }}-{{ section.id }}-{{ type }}{%- endcapture -%}

{%- case type -%}
  {%- when 'currency' -%}
    {%- comment -%}
    ----------------------------------------------------------------------------------------------
    CURRENCY SELECTOR
    ----------------------------------------------------------------------------------------------
    {%- endcomment -%}

    <div class="relative">
      <button type="button" class="localization-toggle heading text-xxs link-faded" aria-controls="{{ localization_popover_id }}" aria-label="{{ 'general.localization.change_currency_accessibility_text' | t | escape }}" aria-expanded="false">
        <span>{{ localization.country.currency.iso_code }}{% if localization.country.currency.symbol %} {{ localization.country.currency.symbol }}{%- endif -%}</span>
        {%- render 'icon' with 'chevron-down' -%}
      </button>

      <x-popover id="{{ localization_popover_id }}" initial-focus="[aria-selected='true']" class="popover popover--{{ placement | default: 'bottom-start' }} color-scheme color-scheme--dialog">
        <p class="h4" slot="header">{{ 'general.localization.currency' | t }}</p>

        {%- form 'localization', id: localization_form_id -%}
          <x-listbox class="popover__value-list">
            {%- assign displayed_currencies = '' | split: ',' -%}
            {%- for country in localization.available_countries -%}
              {%- unless displayed_currencies contains country.currency.iso_code -%}
                {%- assign displayed_currencies = displayed_currencies | append: country.currency.iso_code | split: ',' -%}
                {%- assign is_selected = false -%}

                {%- if country.currency.iso_code == localization.country.currency.iso_code -%}
                  {%- assign is_selected = true -%}
                {%- endif -%}

                <button type="submit" name="country_code" class="popover__value-option" role="option" value="{{ country.iso_code }}" aria-selected="{% if is_selected %}true{% else %}false{% endif %}">
                  <span>{{ country.currency.iso_code }}{% if country.currency.symbol %} {{ country.currency.symbol }}{%- endif -%}</span>
                </button>
              {%- endunless -%}
            {%- endfor -%}
          </x-listbox>
        {%- endform -%}
      </x-popover>
    </div>

  {%- when 'locale' -%}
    {%- comment -%}
    ----------------------------------------------------------------------------------------------
    LOCALE SELECTOR
    ----------------------------------------------------------------------------------------------
    {%- endcomment -%}

    <div class="relative">
      <button type="button" class="localization-toggle heading text-xxs link-faded" aria-controls="{{ localization_popover_id }}" aria-label="{{ 'general.localization.change_language_accessibility_text' | t | escape }}" aria-expanded="false">
        {{- localization.language.iso_code | upcase -}}
        {%- render 'icon' with 'chevron-down' -%}
      </button>

      <x-popover id="{{ localization_popover_id }}" initial-focus="[aria-selected='true']" class="popover popover--{{ placement | default: 'bottom-start' }} color-scheme color-scheme--dialog">
        <p class="h4" slot="header">{{ 'general.localization.language' | t }}</p>

        {%- form 'localization', id: localization_form_id -%}
          <x-listbox class="popover__value-list">
            {%- for language in localization.available_languages -%}
              {%- assign is_selected = false -%}

              {%- if language.iso_code == localization.language.iso_code -%}
                {%- assign is_selected = true -%}
              {%- endif -%}

              <button type="submit" name="locale_code" class="popover__value-option" role="option" value="{{ language.iso_code }}" aria-selected="{% if is_selected %}true{% else %}false{% endif %}">
                {{- language.iso_code | upcase -}}
              </button>
            {%- endfor -%}
          </x-listbox>
        {%- endform -%}
      </x-popover>
    </div>
{%- endcase -%}