<!-- jQueryの読み込み（すでに読み込んでいる場合は不要） -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- WordPressの最新6件の投稿を非同期で取得して表示するスクリプト -->
<script>
$(document).ready(function() {
    // WordPressサイトのURLを設定
    var categoryId = 1;
    var wpApiUrl = "https://blog.postoveralls.com/wp-json/wp/v2/posts?_embed&categories=" + categoryId + "&per_page=3";


    $.get(wpApiUrl, function(data) {
        var postsHtml = '';

        $.each(data, function(index, post) {
            var imageUrl = post._embedded['wp:featuredmedia'] ? post._embedded['wp:featuredmedia'][0].source_url : post.first_img;
            postsHtml += '<div class="add-po-grid-item grid-article" data-style="large"><div class="grid-article__image"><a href="' + post.link + '" class="wp-post" target="_blank">';
            postsHtml += '<div class="image-wrap"><img src="' + imageUrl + '" alt="' + post.title.rendered + '" class="lazyload"></div></a></div>';
            postsHtml += '<div class="grid-article__meta"><p class="article__title">' + post.title.rendered + '</p>';
            postsHtml += '<div class="article__sub-meta"><span class="article__sub-meta-date">' + new Date(post.date).toLocaleDateString() + '</span></div></div>';
            postsHtml += '</div>';
        });

        $("#wp-posts").html(postsHtml);
    });
});
</script>

<!-- 区切り線 -->
{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width">
  
   <!--abek title-->
  {%- if section.settings.title != blank -%}
    <header class="section-header section-header--with-link">
      <h2 class="section-header__title">
        {{ section.settings.title | escape }}
      </h2>
    </header>
  {%- endif -%}

   <!--abek title image-->
  {%- if section.settings.image != blank -%}
    {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <img style="width:auto;" class="blog-title__image blog-title__image--{{ block.id }} lazyload{% if has_mobile_image %} small--hide{% endif %}"
      src="{{ section.settings.image | img_url: '300x' }}"
      data-src="{{ img_url }}"
      data-aspectratio="{{ section.settings.image.aspect_ratio }}"
      data-sizes="auto"
      alt="{{ section.settings.image.alt | escape }}">
    {%- if has_mobile_image -%}
      {%- assign img_url_mobile = section.settings.image_mobile | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <img style="width:auto;" class="blog-title__image blog-title__image--{{ block.id }} lazyload medium-up--hide"
        src="{{ section.settings.image_mobile | img_url: '300x' }}"
        data-src="{{ img_url_mobile }}"
        data-aspectratio="{{ section.settings.image_mobile.aspect_ratio }}"
        data-sizes="auto"
        alt="{{ section.settings.image_mobile.alt | escape }}">
    {%- endif -%}
    <noscript>
      <img style="width:auto;" class="blog-title__image blog-title__image--{{ block.id }}"
        src="{{ section.settings.image | img_url: '1400x' }}"
        alt="{{ section.settings.image.alt | escape }}">
    </noscript>
  {%- else -%}
    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
  {%- endif -%}

  <div class="add-po-blog-layout">

    <div class="add-po-blog-layout__main">

        <!-- WordPressの投稿を表示する領域 -->
        <div class="add-po-new-grid" id="wp-posts"></div>

    </div>

  </div>

  {%- if section.settings.link_text != blank -%}
    <div class="add-btn-wrap" style="margin-top:2rem; text-align: center;">
      <a href="{{ section.settings.link }}" class="btn" style=" background-color: #9fcfba;">
        {{ section.settings.link_text }}
      </a>
    </div>
  {%- endif -%}

</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
  {
    "name": "Blog New posts",
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile image"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Button link"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Button text"
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Blog wp",
        "category": "Blog"
      }
    ]
  }
{% endschema %}
